body {
  margin: 0;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgoldenrodyellow;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#boards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

#content {
  font-size: 22px;
}

.board {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  background-color: #ffffff;
  border: 2px solid #000000;
  /* padding: 10px; */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #000000;
}

.field:hover {
  background-color: lightgray;
}
